@charset "UTD-8";

:root {
    --cinza: #647c84;
    --laranja: #fb5141;
    --verde: #04bc04;
    --azul: #057cc4;
    --laranja-claro: #ff4f40;
}

section.contact {
    display: flex;
    justify-content: center;
    background: white;
}

.moldura {
    width: 90%;
    height: 100%;
    padding: 5vh;
    background-color: rgba(255, 255, 255, 0.493);
    border: 1px solid var(--cinza);
    border-radius: 10px;
}

div.moldura h3 {
    color: var(--laranja);
    border-bottom: 2px solid var(--laranja);
}
