@charset "UTF-8";

:root {
    --cinza: #647c84;
    --laranja: #fb5141;
    --verde: #04bc04;
    --azul: #057cc4;
    --laranja-claro: #ff4f40;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.form-control, .form-select {
    background-color: #ffffff96;
    width: 50%;
}

.moldura {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    
    background-color: white;
    padding: 5vh 5vh;
    border: 1px solid var(--cinza);
    border-radius: 10px;
}

.modlura > div.testando {
    display: flex;
}

h6 {
    margin-right: 1vh;
    font-weight: 700;
    color: var(--cinza);
}

#ciclistas-header {
    margin-left: -5vh;
    background-color: #52AB52;
    border-radius: 25px 25px 0px 0px;
}

#ciclistas {
    width: calc(100% + 10vh);
    margin-left: -5vh;
    padding-left: 5vh;
    border-radius: 25px 25px 0px 0px;
    background-color: #77f777ba;
}

#ciclistas-header > h5, p {
    text-align: center;
    color: white;
}

div.sesim {
    display: none;
}

div.sesim2 {
    display: none;
}